<footer>
    <div id="footer-columns">
        <ul id="pfp-layout">
        		<img src="assets/icons/pfp-original-rounded.png" alt="My profile picture" width="64" height="64">
        		<ul>
                <li>tpaau</li>
                <li><a class="u-email" href="mailto:tpaau-17db@tutamail.com">tpaau-17db@tutamail.com</a></li>
        		</ul>
        </ul>
        <ul class="footer-row">
            <li><a href="https://github.com/tpaau">GitHub</a></li>
            <li><a href="https://codeberg.org/tpaau">Codeberg</a></li>
            <li><a href="https://mastodon.social/@tpaau17db">Mastodon</a></li>
            <li><a href="https://bsky.app/profile/tpaau17db.mastodon.social.ap.brid.gy">Bluesky</a></li>
        </ul>
        <ul class="footer-column">
            <li>© tpaau - <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY‑SA 4.0</a></li>
            <li><a href="https://codeberg.org/tpaau/pages/issues/new">Report an issue</a></li>
        </ul>
    </div>
</footer>
