<!-- TODO: This loads both stylesheets immediately, it can probably be optimized. -->
<!-- <link rel="preload" as="style" href="{{ "/assets/css/themes/blue-moon/light.css" | relative_url }}" crossorigin="anonymous"> -->
<link rel="stylesheet" href="{{ "/assets/css/themes/blue-moon/light.css" | relative_url }}" media="(prefers-color-scheme: light)">

<!-- <link rel="preload" as="style" href="{{ "/assets/css/themes/blue-moon/dark.css" | relative_url }}" crossorigin="anonymous"> -->
<link rel="stylesheet" href="{{ "/assets/css/themes/blue-moon/dark.css"  | relative_url }}" media="(prefers-color-scheme: dark)">
