:root {
    --image-size: 128px;
}

.post-list {
    list-style: none;
    padding-left: 0;
}

.post, .post:visited {
    display: block;
    text-decoration: none;
    background-color: var(--surface-container-high);
    color: var(--on-surface-container);
    padding: var(--spacing-regular);
    border-radius: var(--radius-large);
}

.post > :first-child {
    margin-top: 0;
}

.post > :last-child {
    margin-bottom: 0;
}

.post h3 {
    margin-bottom: 0;
}

.post-date {
    margin-top: var(--spacing-small);
    color: var(--on-surface-variant);
}

.fade-img {
    mask-image: linear-gradient(to bottom, black 1%, transparent 50%);
    height: calc(var(--image-size) * 2);
    overflow: hidden;
    margin-bottom: calc(var(--image-size) * -1);
}

.fade-img img {
    width: 100%;
    height: auto;
    display: block;
}
