#backarrow {
  position: fixed;
  top: 0;
  left: 0;
  fill: var(--on-secondary-container);
  background-color: var(--secondary-container);
  margin: var(--spacing-regular);
  border-radius: var(--radius-full);
  filter: drop-shadow(0 0 2px var(--shadow));
}

#backarrow svg {
	display: block;
	padding: 0.5em;
}
