<footer>
    <div id="footer-columns">
        <ul id="pfp-layout">
            <li>{% include widgets/common/pfp.html size = 64 %}</li>
            <li>
                <ul>
                    <li>tpaau</li>
                    <li><a class="u-email" href="mailto:{{ site.mail }}">{{ site.mail }}</a></li>
                </ul>
            </li>
        </ul>
        <ul class="footer-row">
            <li><a href="{{ site.github_url }}">GitHub</a></li>
            <li><a href="{{ site.codeberg_url }}">Codeberg</a></li>
            <li><a href="{{ site.mastodon_url }}">Mastodon</a></li>
            <li><a href="{{ site.bsky_url }}">Bluesky</a></li>
        </ul>
        <ul class="footer-column">
            <li>© tpaau - <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY‑SA 4.0</a></li>
            <li><a href="{{ site.repo_url }}">Source code</a></li>
            <li><a href="{{ site.issue_report_url }}">Report an issue</a></li>
        </ul>
    </div>
</footer>
