<a class="card" style="display:block;" href="{{ include.url }}">
    <h2>{{ include.name }}</h2>
    <div
        class="card-img"
        style="--bg-image: url({{ include.image }});">
    </div>
    <div align="center">
        {%- for language in include.languages -%}
            {% include widgets/common/tag.html label=language icon="code-xml" %}
        {%- endfor -%}

        {%- if include.repo contains "codeberg" -%}
            {% include widgets/common/tag.html label="Codeberg" icon="landscape" %}
        {%- endif -%}

        {%- if include.repo contains "github" -%}
            {% include widgets/common/tag.html label="GitHub" icon="commit" %}
        {%- endif -%}

        {%- for tag in include.tags -%}
            {% include widgets/common/tag.html label=tag icon="price" %}
        {%- endfor -%}
    </div>
    <p>{{ include.description }}</p>
</a>
