:root {
    --primary: #d2bcfd;
    --on-primary: #38265c;
    --primary-container: #4f3d74;
    --on-primary-container: #ebddff;

    --secondary: #cdc2db;
    --on-secondary: #342d40;
    --secondary-container: #4b4358;
    --on-secondary-container: #e9def8;

    --tertiary: #f0b7c5;
    --on-tertiary: #4a2530;
    --tertiary-container: #643b46;
    --on-tertiary-container: #ffd9e1;

    --error: #ffb4ab;
    --on-error: #690005;
    --error-container: #93000a;
    --on-error-container: #ffdad6;

    --surface: #151218;
    --on-surface: #e7e0e8;
    --surface-variant: #49454e;
    --on-surface-variant: #cbc4cf;

    --surface-container-highest: #36343a;
    --surface-container-high: #2b292f;
    --surface-container: #211f24;
    --surface-container-low: #1d1b20;
    --surface-container-lowest: #0f0d13;

    --inverse-surface: #e7e0e8;
    --inverse-on-surface: #322f35;
    --surface-tint: #d2bcfd;

    --outline: #948f99;
    --outline-variant: #49454e;
    --shadow: #000000;
}
