:root {
    --primary: #ffffff;
    --on-primary: #1b1b1b;
    --primary-container: #d4d4d4;
    --on-primary-container: #000000;

    --secondary: #c6c6c6;
    --on-secondary: #1b1b1b;
    --secondary-container: #474747;
    --on-secondary-container: #e2e2e2;

    --tertiary: #e2e2e2;
    --on-tertiary: #1b1b1b;
    --tertiary-container: #919191;
    --on-tertiary-container: #000000;

    --error: #ffb4ab;
    --on-error: #690005;
    --error-container: #93000a;
    --on-error-container: #ffdad6;

    --surface: #131313;
    --on-surface: #e2e2e2;
    --surface-variant: #474747;
    --on-surface-variant: #c6c6c6;

    --surface-container-highest: #353535;
    --surface-container-high: #2a2a2a;
    --surface-container: #1f1f1f;
    --surface-container-low: #1b1b1b;
    --surface-container-lowest: #0e0e0e;

    --inverse-surface: #e2e2e2;
    --inverse-on-surface: #303030;
    --surface-tint: #c6c6c6;

    --outline: #919191;
    --outline-variant: #474747;
    --shadow: #000000;
}
