:root {
    --primary: #000000;
    --on-primary: #e2e2e2;
    --primary-container: #3b3b3b;
    --on-primary-container: #ffffff;

    --secondary: #5e5e5e;
    --on-secondary: #ffffff;
    --secondary-container: #e2e2e2;
    --on-secondary-container: #1b1b1b;

    --tertiary: #3b3b3b;
    --on-tertiary: #e2e2e2;
    --tertiary-container: #747474;
    --on-tertiary-container: #ffffff;

    --error: #ba1a1a;
    --on-error: #ffffff;
    --error-container: #ffdad6;
    --on-error-container: #410002;

    --surface: #f9f9f9;
    --on-surface: #1b1b1b;
    --surface-variant: #e2e2e2;
    --on-surface-variant: #474747;

    --surface-container-highest: #e2e2e2;
    --surface-container-high: #e8e8e8;
    --surface-container: #eeeeee;
    --surface-container-low: #f3f3f3;
    --surface-container-lowest: #ffffff;

    --inverse-surface: #303030;
    --inverse-on-surface: #f1f1f1;
    --surface-tint: #5e5e5e;

    --outline: #777777;
    --outline-variant: #c6c6c6;
    --shadow: #000000;
}
